/* center the body content horizontally */
/* flow direction is vertical */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  opacity: 0;
  user-select: none;
  overflow: hidden;
}

/* show the word list in a grid of width 4 */
#word-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* if a word is marked found, highlight it */
#word-list>.found {
  background-color: lightgreen;
}

#jamo-board {
  display: grid;
  grid-template-columns: repeat(var(--width), 1fr);
  gap: var(--gap);
  padding: 0;
  margin: 0;
  position: relative;
  aspect-ratio: 1;
}

#jamo-board>i {
  text-align: center;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  font-size: var(--size);
  line-height: 1;
  user-select: none;
  cursor: pointer;
  font-style: normal;
}

#jamo-board.pointerdown>i {
  padding: calc(var(--gap)/4);
  margin: calc(var(--gap)/-4);
}

#jamo-board>.written {
  background-color: var(--color);
}

#jamo-board>.completion-bar {
  /* remove from grid flow */
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: var(--width);
  height: var(--height);

  /* outline: 1px solid red; */
  pointer-events: none;
}

#jamo-board>.completion-bar::before {

  content: '';
  position: absolute;
  background-color: var(--color); /* Line color */
  height:var(--thick); /* Line thickness */
  
  /* Calculate the bottom-left point of the line */
  top: 50%;
  left: 50%;

  /* Length of the line using hypot(), assuming --delta-x and --delta-y are defined */
  width: var(--hypot);

  /* Rotate line using atan2(), converting result from radians to degrees */
  transform: translate(-50%, -50%) rotate(var(--angle));

  /* Ensure the rotation point is the start of the line */
  transform-origin: center;
  /* opacity: 0.5; */
  mix-blend-mode: exclusion;

  z-index: -1;

  border-radius: var(--thick);

  /* filter: url(#displacementFilter); */
}

#dark-mode-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: rotate(45deg);
}

.notransition, .notransition>* {
  transition: none !important;
}

#dark-mode-toggle>#sun, #dark-mode-toggle>#moon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: clip-path 0.5s;
}

#dark-mode-toggle>#sun::before {
  content: '☀️';
  display: inline-block;
  transform: rotate(-45deg);
}

#dark-mode-toggle>#moon::before {
  content: '🌙';
  display: inline-block;
  transform: rotate(-45deg);
}

:root[data-mode="system"] {
  color-scheme: dark light;
}

:root[data-mode="dark"] {
  color-scheme: dark;
}

:root[data-mode="light"] {
  color-scheme: light;
}

#dark-mode-toggle[data-mode="system"]>#sun {
  /* left half of square*/
  clip-path: rect(0 50% 100% 0);
}
#dark-mode-toggle[data-mode="system"]>#moon {
  /* right half of square */
  clip-path: rect(0 100% 100% 50%);
}
#dark-mode-toggle[data-mode="dark"]>#sun {
  /* hidden to left side */
  clip-path: rect(0 0 100% 0);
}
#dark-mode-toggle[data-mode="dark"]>#moon {
  /* fully visible */
  clip-path: rect(0 100% 100% 0);
}
#dark-mode-toggle[data-mode="light"]>#sun {
  /* fully visible*/
  clip-path: rect(0 100% 100% 0);
}
#dark-mode-toggle[data-mode="light"]>#moon {
  /* hidden to the right side */
  clip-path: rect(0 100% 100% 100%);
}

#currentJamoCompletions {
  position: absolute;
}

/* side-to-side layout for desktop */
@media screen and (min-width: 720px) {
  #word-list {
    /* grid-template-columns: repeat(2, 1fr); */
    animation: none;
  }
}

.mid {
  outline: 4px dashed lime;
  outline-offset: -4px
}
.start {
  outline: 4px dashed red;
  outline-offset: -4px
}
.end {
  outline: 4px dashed blue;
  outline-offset: -4px
}


